* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-family: 'Original Surfer', cursive;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
#outer-circle {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background: #385a94;
  border-radius: 50%;
  box-shadow: 8px 8px 15px 5px #888888;
}
#topright,
#topleft,
#bottomright,
#bottomleft {
  height: 15rem;
  width: 15rem;
  border: 0.2rem solid;
}

#topleft {
  border-top-left-radius: 25rem;
  background: darkgreen;
}
#topright {
  border-top-right-radius: 25rem;
  background: darkred;
}
#bottomleft {
  border-bottom-left-radius: 25rem;
  background: goldenrod;
}
#bottomright {
  border-bottom-right-radius: 25rem;
  background: darkblue;
}

#inner-circle {
  justify-self: center;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: grey;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  border: 0.3rem solid;
}

#title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#switches {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
}

.power,
.strict,
.count {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#turn {
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-top: 1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

@media only screen and (min-width: 600px) {
  #outer-circle {
    width: 50rem;
    height: 50rem;
  }

  #topright,
  #topleft,
  #bottomright,
  #bottomleft {
    height: 25rem;
    width: 25rem;
    border: 0.4rem solid;
  }

  #inner-circle {
    height: 25rem;
    width: 25rem;
    border: 0.5rem solid;
  }

  #title {
    font-size: 4rem;
  }

  .power,
  .strict,
  .count {
    font-size: 1.5rem;
  }

  #turn {
    font-size: 2rem;
    height: 3rem;
    width: 5rem;
    line-height: 3rem;
  }
}
